<%=form_for(@pro) do |profile| %>
<table class="table" border ="1">
<tr>
<td><%= profile.text_field :name, :value => (@name)  %></td></tr>
<tr><td width="50%"><%= profile.text_field  :age  %></td></tr>
<tr><td><%= profile.text_field :location  %></td></tr>
<tr></td><td><%= profile.text_field  :desc%></td>
</tr>
</table>
<div class =" btn btn-warning"><%=profile.submit 'Update Profile'%></div>
<%end %>