<script>
go_div(){

alert("Hello")

}
</script>
<% if session[:email]!=nil %>
<h1>Profile</h1>

<div>
      <% if flash[:status]==TRUE %>

<p> <%=flash[:alert] %></p>

<% elsif flash[:status] == FALSE %>

<%= flash[:alert]%>

 <% end %>

</div>
<%flash[:status]=FALSE%>

<% if @pro == nil %>
You have not created your profile.<br/>
<p><%=link_to "Create Your Profile" , '/member_new'%></p>
<% end %>

<% if @pro != nil %>
<div id="index">
<table class="table" border ="1">
<tr>
<td><strong>Name:</strong></td><td><%=@name %></td><td rowspan ="4" width="25%"><em>Upload a photo<br>(under maintenance)</em></td></tr>
<tr><td><strong>Age:</strong></td><td width="50%"><%= @pro.age %></td></tr>
<tr><td><strong>Location:</strong></td><td><%= @pro.location  %></td></tr>
<tr><td><strong>About me:</strong></td><td><%= @pro.desc%></td>
</tr>
</table>
<div class =" btn btn-warning"><%=link_to "edit your profile" ,"#", :onclick => 'go_div()' %></div>
</div>
<% end %>
<%else%>
<h1>ERROR!</h1>
<%end %>